winformAdminLibrarySystem/winformAdminLibrarySystem/Service References/LibraryService/MyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:13258/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:13258/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:13258/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyConsoleApplication.Model" />
      <xsd:import schemaLocation="http://localhost:13258/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyService_GetAllPublisher_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPublisher" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetAllPublisher_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPublisherResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetByIdPublisher_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdPublisher" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetByIdPublisher_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdPublisherResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_AddPublisher_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPublisher" />
  </wsdl:message>
  <wsdl:message name="IMyService_AddPublisher_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPublisherResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_UpdatePublisher_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePublisher" />
  </wsdl:message>
  <wsdl:message name="IMyService_UpdatePublisher_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePublisherResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_DeletePublisher_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePublisher" />
  </wsdl:message>
  <wsdl:message name="IMyService_DeletePublisher_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePublisherResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_SearchPublisher_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchPublisher" />
  </wsdl:message>
  <wsdl:message name="IMyService_SearchPublisher_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchPublisherResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetAllAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAuthor" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetAllAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetByIdAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdAuthor" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetByIdAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_AddAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAuthor" />
  </wsdl:message>
  <wsdl:message name="IMyService_AddAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_UpdateAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAuthor" />
  </wsdl:message>
  <wsdl:message name="IMyService_UpdateAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_DeleteAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAuthor" />
  </wsdl:message>
  <wsdl:message name="IMyService_DeleteAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_SearchAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchAuthor" />
  </wsdl:message>
  <wsdl:message name="IMyService_SearchAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetAllGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGenre" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetAllGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGenreResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetByIdGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdGenre" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetByIdGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdGenreResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_AddGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGenre" />
  </wsdl:message>
  <wsdl:message name="IMyService_AddGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGenreResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_UpdateGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGenre" />
  </wsdl:message>
  <wsdl:message name="IMyService_UpdateGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGenreResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_DeleteGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGenre" />
  </wsdl:message>
  <wsdl:message name="IMyService_DeleteGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGenreResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_SearchGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchGenre" />
  </wsdl:message>
  <wsdl:message name="IMyService_SearchGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchGenreResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetAllBook_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBook" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetAllBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBookResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetByIdBook_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdBook" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetByIdBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdBookResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_AddBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBook" />
  </wsdl:message>
  <wsdl:message name="IMyService_AddBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_UpdateBook_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBook" />
  </wsdl:message>
  <wsdl:message name="IMyService_UpdateBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBookResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_DeleteBook_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBook" />
  </wsdl:message>
  <wsdl:message name="IMyService_DeleteBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_SearchBook_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchBook" />
  </wsdl:message>
  <wsdl:message name="IMyService_SearchBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchBookResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetLastIdBook_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastIdBook" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetLastIdBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastIdBookResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_AddAB_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAB" />
  </wsdl:message>
  <wsdl:message name="IMyService_AddAB_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddABResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_UpdateAB_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAB" />
  </wsdl:message>
  <wsdl:message name="IMyService_UpdateAB_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateABResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_DeleteABId_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteABId" />
  </wsdl:message>
  <wsdl:message name="IMyService_DeleteABId_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteABIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_AddGB_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGB" />
  </wsdl:message>
  <wsdl:message name="IMyService_AddGB_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGBResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_UpdateGB_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGB" />
  </wsdl:message>
  <wsdl:message name="IMyService_UpdateGB_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGBResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_DeleteGBId_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGBId" />
  </wsdl:message>
  <wsdl:message name="IMyService_DeleteGBId_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGBIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyService">
    <wsdl:operation name="GetAllPublisher">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetAllPublisher" message="tns:IMyService_GetAllPublisher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetAllPublisherResponse" message="tns:IMyService_GetAllPublisher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByIdPublisher">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetByIdPublisher" message="tns:IMyService_GetByIdPublisher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetByIdPublisherResponse" message="tns:IMyService_GetByIdPublisher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPublisher">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/AddPublisher" message="tns:IMyService_AddPublisher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/AddPublisherResponse" message="tns:IMyService_AddPublisher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePublisher">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/UpdatePublisher" message="tns:IMyService_UpdatePublisher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/UpdatePublisherResponse" message="tns:IMyService_UpdatePublisher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePublisher">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/DeletePublisher" message="tns:IMyService_DeletePublisher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/DeletePublisherResponse" message="tns:IMyService_DeletePublisher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchPublisher">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/SearchPublisher" message="tns:IMyService_SearchPublisher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/SearchPublisherResponse" message="tns:IMyService_SearchPublisher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetAllAuthor" message="tns:IMyService_GetAllAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetAllAuthorResponse" message="tns:IMyService_GetAllAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByIdAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetByIdAuthor" message="tns:IMyService_GetByIdAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetByIdAuthorResponse" message="tns:IMyService_GetByIdAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/AddAuthor" message="tns:IMyService_AddAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/AddAuthorResponse" message="tns:IMyService_AddAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/UpdateAuthor" message="tns:IMyService_UpdateAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/UpdateAuthorResponse" message="tns:IMyService_UpdateAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/DeleteAuthor" message="tns:IMyService_DeleteAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/DeleteAuthorResponse" message="tns:IMyService_DeleteAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/SearchAuthor" message="tns:IMyService_SearchAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/SearchAuthorResponse" message="tns:IMyService_SearchAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetAllGenre" message="tns:IMyService_GetAllGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetAllGenreResponse" message="tns:IMyService_GetAllGenre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByIdGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetByIdGenre" message="tns:IMyService_GetByIdGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetByIdGenreResponse" message="tns:IMyService_GetByIdGenre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/AddGenre" message="tns:IMyService_AddGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/AddGenreResponse" message="tns:IMyService_AddGenre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/UpdateGenre" message="tns:IMyService_UpdateGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/UpdateGenreResponse" message="tns:IMyService_UpdateGenre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/DeleteGenre" message="tns:IMyService_DeleteGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/DeleteGenreResponse" message="tns:IMyService_DeleteGenre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/SearchGenre" message="tns:IMyService_SearchGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/SearchGenreResponse" message="tns:IMyService_SearchGenre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetAllBook" message="tns:IMyService_GetAllBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetAllBookResponse" message="tns:IMyService_GetAllBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByIdBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetByIdBook" message="tns:IMyService_GetByIdBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetByIdBookResponse" message="tns:IMyService_GetByIdBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/AddBook" message="tns:IMyService_AddBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/AddBookResponse" message="tns:IMyService_AddBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/UpdateBook" message="tns:IMyService_UpdateBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/UpdateBookResponse" message="tns:IMyService_UpdateBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/DeleteBook" message="tns:IMyService_DeleteBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/DeleteBookResponse" message="tns:IMyService_DeleteBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/SearchBook" message="tns:IMyService_SearchBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/SearchBookResponse" message="tns:IMyService_SearchBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastIdBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetLastIdBook" message="tns:IMyService_GetLastIdBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetLastIdBookResponse" message="tns:IMyService_GetLastIdBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAB">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/AddAB" message="tns:IMyService_AddAB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/AddABResponse" message="tns:IMyService_AddAB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAB">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/UpdateAB" message="tns:IMyService_UpdateAB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/UpdateABResponse" message="tns:IMyService_UpdateAB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteABId">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/DeleteABId" message="tns:IMyService_DeleteABId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/DeleteABIdResponse" message="tns:IMyService_DeleteABId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGB">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/AddGB" message="tns:IMyService_AddGB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/AddGBResponse" message="tns:IMyService_AddGB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGB">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/UpdateGB" message="tns:IMyService_UpdateGB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/UpdateGBResponse" message="tns:IMyService_UpdateGB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGBId">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/DeleteGBId" message="tns:IMyService_DeleteGBId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/DeleteGBIdResponse" message="tns:IMyService_DeleteGBId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyService" type="tns:IMyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPublisher">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetAllPublisher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByIdPublisher">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetByIdPublisher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPublisher">
      <soap:operation soapAction="http://tempuri.org/IMyService/AddPublisher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePublisher">
      <soap:operation soapAction="http://tempuri.org/IMyService/UpdatePublisher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePublisher">
      <soap:operation soapAction="http://tempuri.org/IMyService/DeletePublisher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPublisher">
      <soap:operation soapAction="http://tempuri.org/IMyService/SearchPublisher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAuthor">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetAllAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByIdAuthor">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetByIdAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAuthor">
      <soap:operation soapAction="http://tempuri.org/IMyService/AddAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthor">
      <soap:operation soapAction="http://tempuri.org/IMyService/UpdateAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthor">
      <soap:operation soapAction="http://tempuri.org/IMyService/DeleteAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAuthor">
      <soap:operation soapAction="http://tempuri.org/IMyService/SearchAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGenre">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetAllGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByIdGenre">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetByIdGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGenre">
      <soap:operation soapAction="http://tempuri.org/IMyService/AddGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGenre">
      <soap:operation soapAction="http://tempuri.org/IMyService/UpdateGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGenre">
      <soap:operation soapAction="http://tempuri.org/IMyService/DeleteGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchGenre">
      <soap:operation soapAction="http://tempuri.org/IMyService/SearchGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBook">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetAllBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByIdBook">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetByIdBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <soap:operation soapAction="http://tempuri.org/IMyService/AddBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <soap:operation soapAction="http://tempuri.org/IMyService/UpdateBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <soap:operation soapAction="http://tempuri.org/IMyService/DeleteBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBook">
      <soap:operation soapAction="http://tempuri.org/IMyService/SearchBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastIdBook">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetLastIdBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAB">
      <soap:operation soapAction="http://tempuri.org/IMyService/AddAB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAB">
      <soap:operation soapAction="http://tempuri.org/IMyService/UpdateAB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteABId">
      <soap:operation soapAction="http://tempuri.org/IMyService/DeleteABId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGB">
      <soap:operation soapAction="http://tempuri.org/IMyService/AddGB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGB">
      <soap:operation soapAction="http://tempuri.org/IMyService/UpdateGB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGBId">
      <soap:operation soapAction="http://tempuri.org/IMyService/DeleteGBId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyService">
    <wsdl:port name="BasicHttpBinding_IMyService" binding="tns:BasicHttpBinding_IMyService">
      <soap:address location="http://localhost:54789/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>